extends layout

block content
    head
        title Tap for Beats Per Minute BPM
        script.
            var count = 0;
            var msecsFirst = 0;
            var msecsPrevious = 0;
            var alternate = false;
            function ResetCount() {
                count = 0;
                document.TAP_DISPLAY.T_AVG.value = "";
                document.TAP_DISPLAY.T_TAP.value = "";
                document.TAP_DISPLAY.T_RESET.blur();
            }
            function TapForBPM(e) {
                e.value
                document.TAP_DISPLAY.T_WAIT.blur();
                timeSeconds = new Date;
                msecs = timeSeconds.getTime();
                document.getElementById("key_pressed").innerHTML = String.fromCharCode(e.which)
                if (alternate) {
                    //                document.getElementById("dot1").src = "pulse1.gif"
                    //                document.getElementById("dot2").src = "pulse.gif"
                    document.getElementById("dot1").style.visibility = "visible"
                    document.getElementById("dot2").style.visibility = "hidden"
                    alternate = false
                } else {
                    document.getElementById("dot1").style.visibility = "hidden"
                    document.getElementById("dot2").style.visibility = "visible"
                    alternate = true
                }
                if ((msecs - msecsPrevious) > 1000 * document.TAP_DISPLAY.T_WAIT.value) {
                    count = 0;
                }
                if (count == 0) {
                    document.TAP_DISPLAY.T_AVG.value = "First Beat";
                    document.TAP_DISPLAY.T_TAP.value = "First Beat";
                    msecsFirst = msecs;
                    count = 1;
                }
                else {
                    bpmAvg = 60000 * count / (msecs - msecsFirst);
                    document.TAP_DISPLAY.T_AVG.value = Math.round(bpmAvg * 100) / 100;
                    document.TAP_DISPLAY.T_WHOLE.value = Math.round(bpmAvg);
                    count++;
                    document.TAP_DISPLAY.T_TAP.value = count;
                }
                msecsPrevious = msecs;
                return true;
            }
            document.onkeypress = TapForBPM;
    center
        noscript
            p
                table(border='0', bgcolor='FFFF99', cellpadding='5')
                    tr
                        td
                            font(color='FF0000', size='+1')
                                b  ! Javascript must be enabled !
        p
            | Use any key - Start tapping to measure BPM
            br
            br
            table(border='0')
                tr
                    form(name='TAP_DISPLAY')
                        td(align='center')
                            table(border='0', cellpadding='3', cellspacing='0', bgcolor='#666666')
                                tr
                                    td
                                        table(border='0', cellpadding='4', cellspacing='0', bgcolor='#CCCCCC')
                                            tr
                                                td
                                                td(align='right')
                                                    font(color='#000000')
                                                        tt Average BPM
                                                        input(readonly='', name='T_AVG', size='12')
                                                td
                                            tr
                                                td
                                                td(align='right')
                                                    font(color='#000000')
                                                        tt Nearest Whole
                                                        input(readonly='', name='T_WHOLE', size='12')
                                                td
                                            tr
                                                td
                                                td(align='right')
                                                    font(color='#000000')
                                                        tt Timing Taps
                                                        input(readonly='', name='T_TAP', size='12')
                                                td
                tr
                    td(align='center')
                        | Pause
                        select(name='T_WAIT')
                            option(value='1') 1
                            option(value='2', selected='') 2
                            option(value='3') 3
                            option(value='4') 4
                            option(value='5') 5
                        |                 second(s) or
                        input(type='button', name='T_RESET', value='RESET', onclick='ResetCount()')
                        |                 to start again
                tr
                    td
                tr
                    td
                        | Touchscreen click here >
                        input(name='T_FOCUS', size='2', maxlength='1')
                        |  < to activate keyboard
            img#dot1(src='pulse.gif', style='width:100px')
            img#dot2(src='pulse.gif', style='width:100px')
        p KEY PRESSED:
        font#key_pressed(color='FF0000') none
        font(face='arial, helvetica', size='-2')
            p
                | (Tap once per measure for Measures Per Minute - set Pause to 5 seconds)
