<html lang="en">
<head>

    <!--<base href="/dev/">-->
    <!--<base href="/dev/" target="_blank">-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--jquery-->
    <!--<script src="/javascripts/bootstrap/jquery.min.js"></script>-->
    <!--&lt;!&ndash;<script src="/javascripts/jquery-3.2.1.slim.min.js"></script>&ndash;&gt;-->

    <!--&lt;!&ndash;bootstrap&ndash;&gt;-->
    <!--<link rel="stylesheet" href="/javascripts/bootstrap/bootstrap.min.css">-->
    <!--<script src="/javascripts/bootstrap/bootstrap.min.js"></script>-->
    <!--<script src="/javascripts/bootstrap/popper.min.js"></script>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; jQuery library &ndash;&gt;-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

    <!--custom css-->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!--custom js-->
    <script src="/javascripts/script.js" type="text/javascript"></script>

    <script>

        var langJson;

        $(document).ready(function () {
//            load_finish();
            load_welcome();
            setLanguage("en");
        });

        function setLanguage(language) {
//            window.alert("setLanguage: " + language);
            switch (language) {
                case "de":
                    $.getJSON("/javascripts/lang_de.json", function (json) {
                        langJson = json;
                        onLanguageLoaded();
                    });
                    break;
                case "fr":
                    $.getJSON("/javascripts/lang_fr.json", function (json) {
                        langJson = json;
                        onLanguageLoaded();
                    });
                    break;
                default: //en
                    $.getJSON("/javascripts/lang_en.json", function (json) {
                        langJson = json;
                        onLanguageLoaded();
                    });
                    break;
            }
        }

        function onLanguageLoaded() {
            setText();
            setContentText();
        }

        function setText() {
            $("#main_title").html(langJson.main_title);
            $("#site_notice_link").html(langJson.site_notice_link);
            $("#copy_right_text").html(langJson.copy_right_text);
            $("#site_notice_title").html(langJson.site_notice_title);
            $("#site_notice_text").html(langJson.site_notice_text);
            $("#tc_title").html(langJson.tc_title);
            $("#tc_text").html(langJson.tc_text);
        }

    </script>

    <title>The Inner Timing Study</title>

</head>

<body>

<!-- T&C Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tc_title">Terms & Conditions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="tc_text" class="modal-body">
                By clicking on “Agree and start”, you agree to take part in this study. You can withdraw from the
                study at any time. No data will be stored that can identify you. However, you will be asked to answer
                some general questions about yourself that will be aggregated and analysed together with the data of
                many other participants. In case you are unsure about the study, please contact us at
                slomo@uni-hamburg.de (ERC project SloMo, University of Hamburg, Germany).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-simon" data-dismiss="modal">OK</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<!-- Impressum Modal -->
<div class="modal fade" id="impressumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="site_notice_title">Site Notice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="site_notice_text" class="modal-body">
                <b>Content responsibility in compliance with § 5 of the German Telemedia Act (TMG)</b>
                <br>
                <br>
                ERC-Project Slow Motion: Transformations of Musical Time in Perception and Performance
                <br>
                Alsterterrasse 1
                <br>
                20354 Hamburg
                <br>
                Germany
                <br>
                <br>
                Tel.: +49 40 42838 8317
                Email: SloMo.gwiss@uni-hamburg.de
                Web page: https://www.slomo.uni-hamburg.de/
                <br>
                <br>
                Principal Investigator:
                <br>
                Prof. Dr. Clemens Wöllner
                <br>
                Alsterterrasse 1
                <br>
                20354 Hamburg
                <br>
                Germany
                <br>
                <br>
                Study design:
                <br>
                David Hammerschmidt
                <br>
                Alsterterrasse 1
                <br>
                20354 Hamburg
                <br>
                <br>
                Web master:
                <br>
                Simon Mayrshofer
                <br>
                Kaiser-Friedrich-Ufer 2
                <br>
                20259 Hamburg
                <br>
                <br>
                <b> Legal disclaimer</b>
                <br>
                The contents of these pages were prepared with utmost care. Nonetheless, we cannot assume liability for
                the timeless accuracy and completeness of the information.
                <br>
                Our website contains links to external websites. As the contents of these third-party websites are
                beyond our control, we cannot accept liability for them. Responsibility for the contents of the linked
                pages is always held by the provider or operator of the pages.
                <br>
                <br>
                <b> Data protection</b>
                <br>
                In general, when visiting the website of innertiming.eu, no personal data are saved. However, these data
                can be given on a voluntary basis. No data will be passed on to third parties without your consent. We
                point out that in regard to unsecured data transmission in the internet (e.g. via email), security
                cannot be guaranteed. Such data could possibly be accessed by third parties.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-simon" data-dismiss="modal">OK</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>

<div class="container">

    <header class="header clearfix">
        <h3 id="main_title" class="text-muted">The Inner Timing Study</h3>
    </header>

    <main role="main">

        <div class="jumbotron" id="content">

            <!--todo: remove or replace? 180126 currently not wanted-->
            <!--<img id="dot2" src="/images/pulse2.gif" style="width:250px" onclick="load_welcome()">-->
            <!--&lt;!&ndash;<p><a class="btn btn-lg btn-success" href="javascript:void();" role="button" onclick="load_welcome()">Weiter</a></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="h6">click to start</p>&ndash;&gt;-->
            <!--<br>-->
            <!--<font size="1">(click to start)</font>-->

        </div>

    </main>

    <footer class="footer">
        <!--<img id="switch" src="/images/off3.png" style="width:60px; height:30px; float: right"/>-->
        <img src="/images/en.png" style="width:25px; height:13px" onclick="setLanguage('en')"/>
        <img src="/images/de.png" style="width:25px; height:13px" onclick="setLanguage('de')"/>
        <img src="/images/fr.png" style="width:25px; height:13px" onclick="setLanguage('fr')"/>
        <span id="copy_right_text">&copy; 2018 ERC-Project SloMo. All rights reserved.</span>
        <a id="site_notice_link" href="" data-toggle="modal" data-target="#impressumModal"
           style="float: right; color: grey">Site Notice</a>
    </footer>

</div> <!-- /container -->
</body>
</html>
