<html>
<head>
    <title>Tap for Beats Per Minute BPM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="js/script.js"></script>-->
    <script>

        var count = 0;
        var msecsFirst = 0;
        var msecsPrevious = 0;
        var alternate = false;

        function ResetCount() {
            count = 0;
            document.TAP_DISPLAY.T_AVG.value = "";
            document.TAP_DISPLAY.T_TAP.value = "";
            document.TAP_DISPLAY.T_RESET.blur();
        }

        function TapForBPM(e) {
            e.value
            document.TAP_DISPLAY.T_WAIT.blur();
            timeSeconds = new Date;
            msecs = timeSeconds.getTime();

            document.getElementById("key_pressed").innerHTML = String.fromCharCode(e.which)

            if (alternate) {
//                document.getElementById("dot1").src = "pulse1.gif"
//                document.getElementById("dot2").src = "pulse.gif"
                document.getElementById("dot1").style.visibility = "visible"
                document.getElementById("dot2").style.visibility = "hidden"
                alternate = false
            } else {
                document.getElementById("dot1").style.visibility = "hidden"
                document.getElementById("dot2").style.visibility = "visible"
                alternate = true
            }

            if ((msecs - msecsPrevious) > 1000 * document.TAP_DISPLAY.T_WAIT.value) {
                count = 0;
            }

            if (count == 0) {
                document.TAP_DISPLAY.T_AVG.value = "First Beat";
                document.TAP_DISPLAY.T_TAP.value = "First Beat";
                msecsFirst = msecs;
                count = 1;
            }
            else {
                bpmAvg = 60000 * count / (msecs - msecsFirst);
                document.TAP_DISPLAY.T_AVG.value = Math.round(bpmAvg * 100) / 100;
                document.TAP_DISPLAY.T_WHOLE.value = Math.round(bpmAvg);
                count++;
                document.TAP_DISPLAY.T_TAP.value = count;
            }
            msecsPrevious = msecs;
            return true;
        }

        document.onkeypress = TapForBPM;

        function postResult() {
            if (bpmAvg < 1)
                return

            document.getElementById("submit_feedback").innerHTML = "sending...";
//            document.submit_feedback.value = "sending...";

            var newResult = {'bpm': bpmAvg}

            // Use AJAX to post the object addresult service
            $.ajax({
                type: 'POST',
                data: newResult,
                url: '/addresult'
//                dataType: 'JSON'
            }).done(function (response) {
                //todo: not working, returning "undefined"
//                document.getElementById("submit_feedback").innerHTML = "RESPONSE:";
                // Check for successful (blank) response
                if (response.msg === '') {
                    document.getElementById("submit_feedback").innerHTML = "SUCCESS";
                    // Clear the form inputs
//                    $('#addUser fieldset input').val('');
                } else {
                    // If something goes wrong, alert the error message that our service returned
                    document.getElementById("submit_feedback").innerHTML = "FAILURE: " + response.msg;
//                    document.getElementById("submit_feedback").innerHTML = "FAILURE: " + response.message;
//                    alert('Error: ' + response.msg);
                }
            });
        }

    </script>
</head>

<!--<body bgcolor="#AABBCC">-->
<!--<font face="arial">-->

<!--<font size=-1><a href="http://www.all8.com/">all8.com</a>-->
<!--&gt;-->
<!--<a href="http://www.all8.com/tools/">tools</a>-->
<!--&gt;-->
<!--<b>Tap for Beats Per Minute</b>-->
<!--</font>-->

<center>

    <noscript>
        <p>
        <table border=0 bgcolor="FFFF99" cellpadding=5>
            <tr>
                <td><font color="FF0000" size=+1><b>&nbsp;! Javascript must be enabled !&nbsp;</b></font></td>
            </tr>
        </table>
        </p>
    </noscript>

    <p>Use any key - Start tapping to measure BPM
        <br>
        <br>
    <table border=0>
        <tr>
            <form name="TAP_DISPLAY">
                <td align=center>
                    <table border=0 cellpadding=3 cellspacing=0 bgcolor="#666666">
                        <tr>
                            <td>
                                <table border=0 cellpadding=4 cellspacing=0 bgcolor="#CCCCCC">
                                    <tr>
                                        <td></td>
                                        <td align=right><font color="#000000"><tt>Average BPM</tt>
                                            <input readonly name="T_AVG" size=12></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align=right><font color="#000000"><tt>Nearest Whole</tt>
                                            <input readonly name="T_WHOLE" size=12></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align=right><font color="#000000"><tt>Timing Taps</tt>
                                            <input readonly name="T_TAP" size=12></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
        </tr>
        <tr>
            <td align=center>
                Pause
                <select name="T_WAIT">
                    <option value="1">1</option>
                    <option value="2" SELECTED>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                second(s) or
                <input type="button" name="T_RESET" value="RESET" onclick="ResetCount()">
                to start again
            </td>
            </form></tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                Touchscreen click here &gt; <input name="T_FOCUS" size=2 maxLength=1> &lt; to activate keyboard
            </td>
        </tr>
    </table>

    <img id="dot1" src="/images/pulse.gif" style="width:100px">

    <img id="dot2" src="/images/pulse.gif" style="width:100px">

    <p>KEY PRESSED:</p>
    <font id="key_pressed" color="FF0000">none</font>

    <font face="arial, helvetica" size="-2">

        <p>(Tap once per measure for Measures Per Minute - set Pause to 5 seconds)</p>

        <input type="button" name="submit_button" value="SUBMIT" onclick="postResult()">

        <p id="submit_feedback"></p>

</center>


<!--<hr>-->

<!--<font size=-2>17 May 2011 &nbsp; <a href="http://www.all8.com/rich.htm">Rich Reel</a>-->
<!--&nbsp; &lt; Feel free to comment on recent changes.&nbsp;-->
<!--Previous version <a href="http://www.all8.com/tools/bpm7.htm">here</a>-->
</body>
</html>