/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 40rem) {
    .display-4 {
        font-size: 2.5rem;
    }
    .slider-label{
        font-size: 0.7rem;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn-lg {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}

.marketing p + h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

#progressBar {
    /*width: 90%;*/
    /*margin: 10px auto;*/
    height: 22px;
    background-color: #b5b5b5;
}

#progressBar div {
    height: 100%;
    /*text-align: right;*/
    /*padding: 0 10px;*/
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    /*width: 0;*/
    background-color: #a15b59;
}

/*#ex1Slider .slider-selection {*/
    /*background: #BABABA;*/
    /*!*width: 1000px !important;*!*/
    /*!*width: 100px;*!*/
/*}*/

/*.slider {*/
    /*width: 800px;*/
/*}*/



/*----------*/

/*.slider.simonslider {*/
    /*width: 100%;*/
/*}*/

.slider.slider-horizontal {
    width: 90%
}

.slider.slider-horizontal .slider-selection {
    background: white;
}

.slider.slider-horizontal .slider-tick {
    background: white;
}

.slider.slider-disabled .slider-handle {
    /*background: #2f5dc7;*/
    background: #3876e1;
}

.slider.slider-disabled .slider-track {
    background: white;
}

.slider.slider-horizontal .slider-rangeHighlight{
    background: rgba(80, 208, 37, 0.86);
}

